doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
  body
    script. 
       let carrito=[];
    script.
      function agregarAlCarrito(divCarta) {
          let productoCarrito={};
            productoCarrito.id = divCarta.querySelector('.codigo').innerText;
            productoCarrito.titulo = divCarta.querySelector('.titulo').innerText;
            productoCarrito.precioFinal=divCarta.querySelector('.precioFinal').innerText;
            carrito.push(productoCarrito);
            console.log(carrito);
      }
    

       
    #divPrincipal
      #divCabecera
        h1 Bienvenido a mi tienda Online
        p Aquí encontrarás los mejores productos y ofertas
        button(type="button", onclick="agregarAlCarrito()") Acceder al carritio
      #divProductos
        each producto in productos
          .divCarta
            h6.codigo=Codigo #{producto.id}
            h6.titulo=`Titulo: ${producto.titulo}`  
            h6=`Categoria: ${producto.categoria}`  
            h6=`Precio de Lista: ${producto.precio}` 
            if producto.descuento !==0
               h6=`Descuento del ${producto.descuento} porciento`
               h6=`El dinero descontado es ${producto.dineroDescontado}`
               h6.precioFinal=El precio final es #{producto.precioFinal}
            else 
               h6=`Esate producto no tiene descuento`
               h6=`No se descontara ningun dinero`
               h6.precioFinal=El precio final es #{producto.precioFinal}
            .divFoto
                 img(src=producto.imagen, class="fotoProducto")
             
                 if producto.descuento !==0
                    img(src='./oferta.png', class='superpuesta')
            button(type="button", onclick="agregarAlCarrito(this.parentNode)") Agregar al carrito

            h6=producto.descripcion.slice(0,29)  
            h6.hidden-description=`${producto.descripcion.slice(29)}`
      .divInferior
         h1 Gracias por elegirnos 
         p Estaremos siempre a su dispocicion