doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
  body 
       
    script.
     let carrito=[];
      function agregarAlCarrito(divCarta) {
          let productoCarrito={};
          let numeroCodigo = parseInt(divCarta.querySelector('.codigo').innerText);
          productoCarrito.codigo=numeroCodigo;
          if(carrito.some(function(producto) {
             return producto.codigo === productoCarrito.codigo}) ){
              alert("El producto ya se encuentara en el carrito.En la pagina carrito podra seleccionar la cantidad");

             }else{
              productoCarrito.titulo =divCarta.querySelector('.titulo').innerText 
              let numeroPrecio=divCarta.querySelector('.precioFinal').innerText
              numeroPrecio = parseFloat(numeroPrecio);
              productoCarrito.precioFinal=numeroPrecio;
              productoCarrito.cantidad=1;
              productoCarrito.precioSubtotal=numeroPrecio;
              carrito.push(productoCarrito);
              //console.log(carrito);
              }
            }
    script.
         function irAlCarrito(carrito) {
              if (carrito.length !== 0) { 
               // Aquí puedes agregar cualquier lógica adicional antes de guardar el carrito en localStorage
                  localStorage.setItem('carrito', JSON.stringify(carrito));
                  // En este ejemplo, he usado JSON.stringify() para convertir el array 'carrito' en una cadena JSON antes de guardarlo en el localStorage
                 // Esto te permite guardar objetos complejos como arrays en el localStorage
                  // Después de guardar el carrito en localStorage, redirigir al usuario a la siguiente página
                 window.location.href = '/carrito'; // Cambia '/siguiente_pagina' por la URL de la página a la que deseas redirigir
                 carrito=[];
                   } else {
                          alert('Su carrito está vacío, no se puede procesar su compra');
                         }
            }
      
    #divPrincipal
      #divCabecera
        h1 Bienvenido a mi tienda Online
        p Aquí encontrarás los mejores productos y ofertas
        button(type="button", onclick="irAlCarrito(carrito)") Acceder al carritio
       
      #divProductos
        each producto in productos
          .divCarta
            h6 Codigo 
            h5(class='codigo')= producto.id
            h6 Titulo 
            h5(class='titulo')=producto.titulo  
            h6=`Categoria ${producto.categoria}`  
            h6=`Precio de Lista: ${producto.precio}` 
            if producto.descuento !==0
               h6=`Descuento del ${producto.descuento} porciento`
               h6=`El dinero descontado es ${producto.dineroDescontado}`
               h6 El precio final es
                h5(class='precioFinal')=producto.precioFinal
            else 
               h6=`Esate producto no tiene descuento`
               h6=`No se descontara ningun dinero`
               h6 El precio final es
                h5(class='precioFinal')=producto.precioFinal
            .divFoto
                 img(src=producto.imagen, class="fotoProducto")
             
                 if producto.descuento !==0
                    img(src='./oferta.png', class='superpuesta')
            button(type="button", onclick="agregarAlCarrito(this.parentNode)") Agregar al carrito
            h6=`${producto.descripcion.slice(0,29)}`  
            h6.hidden-description=`${producto.descripcion.slice(29)}`
      .divInferior
         h1 Gracias por elegirnos 
         p Estaremos siempre a su dispocicion