doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
  body
    #divPrincipal
      #divCabecera
        h1 Bienvenido a mi tienda Online
        p Aquí encontrarás los mejores productos y ofertas
      #divProductos
        each producto in productos
          .divCarta
            h6=`Titulo: ${producto.titulo}`  
            h6=`Categoria: ${producto.categoria}`  
            h6=`Precio: ${producto.precio}` 
            h6=`Descripcion:` 
            h6(class='hidden-description') D: #{producto.descripcion}
            .divFoto
              img(src=producto.imagen)